.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 55px;
    color: red;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: red;
}
.navbar {
    background-color: #e10d0d;
}
.navbar .navbar-brand {
    color: #39bbdb;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #730fe3;
}
.navbar .navbar-text {
    color: #39bbdb;
}
.navbar .navbar-text a {
    color: #730fe3;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #730fe3;
}
.navbar .navbar-nav .nav-link {
    color: #39bbdb;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #730fe3;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #730fe3;
    background-color: #db6e69;
}
.navbar .navbar-toggle {
    border-color: #db6e69;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #db6e69;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #39bbdb;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #39bbdb;
}
.navbar .navbar-link {
    color: #39bbdb;
}
.navbar .navbar-link:hover {
    color: #730fe3;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #39bbdb;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #730fe3;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #730fe3;
        background-color: #db6e69;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #39bbdb;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #730fe3;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #730fe3;
        background-color: #db6e69;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #39bbdb;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #730fe3;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #730fe3;
        background-color: #db6e69;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #39bbdb;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #730fe3;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #730fe3;
        background-color: #db6e69;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #39bbdb;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #730fe3;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #730fe3;
    background-color: #db6e69;
}